.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent background for the track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #808080; /* Gray color for the thumb */
    border-radius: 4px; /* Rounded corners */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555555; /* Darker gray on hover */
  }
  
  .navigation{
    background-color: #343434;
  }

.total-background{
  background-color: #212121;
}

.create-story{
  background-color: #c49102;
}

.create-story:hover{
  background-color: orange;

}

.create-story:active:focus{
  background-color: red;
}

.save{
  background-color: #c49102;
}

.save:hover{
  background-color: orange;

}

.btn-close{
  background-color: ivory;
}

.save:active:focus{
  background-color: red;
}

.modal-content{

  background-color: #212121;
}

.form-control{
  background-color: #d3d3d3;
  color: #212121;
}

.form-label{
  color: ivory;
}

.modal-title{
  color: ivory;
}